<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Welcome!</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static', filename='style.css')}}" />
</head>
<body>

  <img src="static/logo_transparent.png" width="12%">

  <header>
    <strong><h1>Fake2vec</h1></strong>
    <h2>Stopping the spread of fake news at the source</h2>
  </header>


  <h2><p style="margin-top:1cm;margin-bottom:0.2cm;">Check an article</p></h2>

  <section>
    <form method="POST">
      <input type="text" name="url-query" placeholder="Enter article URL" style="width: 300px; height: 50px"><br>
      <input type="text" name="text-query" placeholder="or raw text" style="width: 300px; height: 50px"><br>
      <input type="submit" value="Submit"><br>
        <!-- <input type="submit" value="Submit"><br> -->
    </form>
  </section>

  <p><p>
  <section>
    <a href="/about/"><input type="submit" name="about_f2v" value="Tech">
  </section>

  <!-- <section title="search and about"> -->
    <!-- <p> -->
    <!-- <a href="/text/"><input type="submit" name="analyze_article" value="Analyze article"> -->
    <!-- <p> -->
    <!-- <a href="/about/"><input type="submit" name="about_f2v" value="Tech"> -->
  <!-- </section> -->

</body>
</html>
